@use 'sass:selector';

@use 'variables' as *;
@use 'mixins' as *;

.mailer-panel {
    display: none;
    margin-top: 1.5rem;
    &.show {
        display: block;
    }
}
.teams-used, .role-perm {
    background: #a6a6b2;
    padding: 5px 18px;
    color: #fff;
    border-radius: 50px;
}
.preview-product-image {
    display: block;
    border-radius: 10px;
    width: 100%;
    max-height: 400px;
    border: 1px solid #dbdfea;
    margin-top: 1rem;
    max-width: 300px;
}
